.lfr-objects__model-builder-right-sidebar-definition-node {
	&-content {
		border-bottom: 1px solid #f1f2f5;
		padding: 1rem 1rem 0;
	}

	&-title {
		align-items: center;
		border-bottom: 1px solid #f1f2f5;
		color: #272833;
		display: flex;
		font-size: 16px;
		font-weight: 600;
		height: 3.3rem;
		justify-content: space-between;
		line-height: 21px;
		padding: 2rem 1rem;
		width: auto;
	}
}
