.cms-control-menu {
	border-bottom-width: 0.05rem;
	border-color: $secondary-l0;

	@media (max-resolution: 1dppx) {
		border-color: $secondary-l2;
	}
}

.top-bar {
	top: var(--control-menu-container-height);

	@include media-breakpoint-down(sm) {
		position: static;
	}
}
