[#assign assetEntry = (request.getAttribute("LIFERAY_SHARED_LAYOUT_ASSET_ENTRY"))! /]

[#assign announcementId = assetEntry.classPK! /]

[#assign currentAnnouncement = restClient.get("/c/p2s3learnannouncements/${announcementId}") /]
[#assign categoryIds = [] /]

[#list currentAnnouncement.taxonomyCategoryBriefs![] as category]
  [#assign categoryIds += [category.taxonomyCategoryId?c] /]
[/#list]

[#if (categoryIds?size > 0)]
  [#assign announcementsResponse = restClient.get("/c/p2s3learnannouncements?fields=id,title,description,dateCreated,taxonomyCategoryBriefs") /]

  [#assign announcements = announcementsResponse.items![] /]
  [#assign related = [] /]

  [#list announcements as item]
    [#if (item.id != announcementId?number)]
      [#assign itemCategoryIds = [] /]

      [#list item.taxonomyCategoryBriefs![] as cat]
        [#assign itemCategoryIds += [cat.taxonomyCategoryId?c] /]
      [/#list]

      [#if (categoryIds?filter(id -> itemCategoryIds?seq_contains(id))?size > 0)]
        [#assign related += [item] /]
      [/#if]
    [/#if]
  [/#list]

  [#if (related?size > 0)]
    <div class="related-announcements-container">
      <h5>[@liferay_ui["message"] key="related-announcements" /]</h5>
      
      <div class="d-flex related-cards-container">
        [#list related?sort_by("dateCreated")?reverse as item]
          [#if (item_index < 3)]
            <a href="/l/${item.id}" class="related-card-link">
              <div class="related-card">
                <h6 class="related-card-title">${item.title}</h6>

                <p class="related-card-description">${item.description}</p>

                [#if item.dateCreated??]
                  <p class="related-card-date">
                      [@liferay_ui["message"] key="published" /]: ${item.dateCreated?datetime("yyyy-MM-dd'T'HH:mm:ss'Z'")?string("MMM. d, yyyy")}
                  </p>
                [/#if]
              </div>
            </a>
          [/#if]
        [/#list]
      </div>
    </div>
  [/#if]
[/#if]