.lfr-cmp__state-selector {
	&--small {
		display: inline-flex;
		max-width: 12.5rem;
		min-height: unset !important;
		transition: opacity 0.2s;
		width: 11vw;

		.label:not(.label-item) {
			height: 16px;
			margin: 0;
			min-height: unset;
			padding: 4px;
		}
	}

	.label:not(.label-item) {
		margin: 0;
	}

	&:hover {
		opacity: 0.8;
	}
}
