.public-footer {
	border-top: 1px solid #E2E2E4;
}

.public-footer a {
	color: #282934;
}

.public-footer h3 {
	color: #00318F;
}

.public-footer .contact-container {
	color: #282934;
	list-style: none;
	white-space: nowrap;
}

.public-footer .footer-bottom {
	flex: 1;
}

.public-footer .footer-copyright {
	font-size: 11px;
}

.public-footer .footer-navigation {
	flex: 5;
	font-size: 16px;
}

.public-footer .footer-navigation:last-child h3 {
	white-space: nowrap;
}

.public-footer .liferay-link {
	color: #0B5FFF;
}

.public-footer .max-nav {
	max-width: 1240px;
}

.public-footer .section-title {
	max-width: 1240px;
}

.public-footer .social-icons {
	max-width: 188px;
}