@import 'atlas-variables';

.design-library-breadcrumb {
	.breadcrumb-item {
		font-size: var(--font-size-lg);
	}
}

.design-library-fds-wrapper {
	.table-list {
		border-radius: 0;
	}

	.design-library-fds-sticker-books {
		background-color: $teal-l3;
		color: $teal;
	}

	.card-item-first {
		background-color: $teal-l3;

		.card-type-asset-icon {
			color: $teal;
		}
	}
}
