.progress-bar-content {
	.total-value-text {
		font-size: 16px;
	}

	.bar-container {
		background-color: #ededed;
		border-radius: 2px;

		.bar-content {
			background-color: #377cff;
			border-radius: 2px;
			height: 12px;
		}
	}
}
